@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap");

:root {
  --font: "Raleway", Verdana, serif;
  --regular-font-weight: 400;
  --semi-bold-font-weight: 600;
  --title-font: "Raleway", Arial, serif;
  --text-color: #000000;
  --text-color-transparent: #0000001a;
  --background-color: #ffffff;
  --background-color-transparent: #ffffff1a;
}

html,
body,
#root {
  max-width: 100vw;
  height: 100%;
}

body {
  font-family: var(--font);
  /* background: url("/dots.png");
  background-repeat: repeat-y; */

  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--background-color);
}
@media (prefers-color-scheme: dark) {
  body {
    --text-color: #ffffff;
    --text-color-transparent: #ffffff1a;
    --background-color: #000000;
    --background-color-transparent: #0000001a;
  }
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
a {
  color: inherit;
  text-decoration: inherit;
  font-size: inherit;
}

.frozen {
  overflow: hidden;
}
